html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.header {
  text-transform: uppercase !important;
  text-align: center;
  font-family: 'IBM Plex Sans Thai Looped', sans-serif !important;
  font-weight: 500 !important;
  font-size: 3rem !important;
  margin-top: 0.5rem !important;
  margin-bottom: 0 !important;
}

.container {
  padding-top: 1.25rem !important;
}

label {
  font-family: 'Roboto Slab', serif;
  font-size: 1rem !important;
}

small {
  color: #a0a0a0;
  font-size: 0.83rem;
  line-height: 2rem;
}

button {
  font-family: 'IBM Plex Sans Thai Looped', sans-serif;
}

h3 {
  font-family: 'IBM Plex Sans Thai Looped', sans-serif;
  font-size: 2rem;
  margin-bottom: 0 !important;
}

ol {
  margin: 0 !important;
  padding-left: 0.7rem;
}

ol > li {
  font-family: 'Roboto Slab', serif;
  font-size: 1.11rem;
  line-height: 1.5rem;
  padding-bottom: 0.8rem;
  text-align: justify;
}

ul > li {
  line-height: 1.6rem;
}

footer {
  font-family: 'Roboto Slab', serif;
  font-size: 0.9rem;
  display: block;
  position: sticky;
  text-align: center;
  background-color: #f8f9fa;
  bottom: 0;
  padding: 0.65rem 1rem;
  width: 100%;
  box-sizing: border-box;
  margin-top: auto;
}

@media only screen and (max-width: 600px) {
  .header {
    margin-bottom: 1rem !important;
  }
  .container {
    padding-top: 3.75rem !important;
  }
  ol > li {
    line-height: 1.7rem;
  }
}
